<%- include('./partials/heards') %> 

    <div class="container">
        
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> <%= pergunta.titulo %></h4>
                <h6 class="card-subtitle text-muted"><%= pergunta.descricao %></h6>
              </div>
        </div>
               
           
  
        <form method="post" action="/responder">
            <input type="hidden" name="perguntaId" value='<%= pergunta.id %>'>
            <div class="form-group">
              <label for="">Responda</label>
              <textarea class="form-control" name="corpo" id="" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Responder</button>
        </form>
        <% respostas.forEach(resposta =>{ %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <%= resposta.corpo %>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
